


    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0"><%= page.title ? page.title : 'Yeni Ekle' %></h1>
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <li class="breadcrumb-item text-muted">
                        <a href="/admin" class="text-muted text-hover-primary">Anasayfa</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-400 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-muted">Sayfa İşlemleri</li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-400 w-5px h-2px"></span>
                    </li>
                     <li class="breadcrumb-item text-muted">
                        <a href="/sayfalar" class="text-muted text-hover-primary">Sayfalar</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-400 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-muted"><%= page.title ? page.title : 'Yeni Ekle' %></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="kt_app_content" class="app-content flex-column-fluid">
        <div id="kt_app_content_container" class="app-container container-fluid">
            <div class="card card-docs flex-row-fluid mb-2">
                <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">

                    <form action="/createOrUpdatePageAjax" id="item_save_form" method="post" enctype="multipart/form-data">
                           
                        <input type="hidden" id="id" name="id" value="<%= page.id %>" />
                        
                        <div class="mb-10">
                            <label class="required form-label">Başlık</label>
                            <input type="text" class="form-control" id="title" name="title" value="<%= page.title %>" />
                        </div>
                        <div class="mb-10">
                            <label class="required form-label">Url</label>
                            <input type="text" class="form-control" id="url" name="url" value="<%= page.url %>"  />
                        </div>
                        <div class="mb-10">
                            <label class="required form-label">Seo Keywords</label>
                            <div class="form-floating">
                                <textarea class="form-control" id="seo_keywords" name="seoKeywords" style="height: 100px"  value="<%= page.seoKeywords %>" ></textarea>
                            </div>
                        </div>
                        <div class="mb-10">
                            <label class="required form-label">Seo Description</label>
                            <div class="form-floating">
                                <textarea class="form-control" id="seo_description" name="seoDescription" style="height: 100px"  value="<%= page.seoDescription %>" ></textarea>
                            </div>
                        </div>

                        <div class="mb-10 border">
                            <label class="form-label">Header</label>
                            <div id="toolbar_container_header"></div>
                            <textarea id="page_header" name="pageHeader" class="tox-target">
                                <%= page.pageHeader %>
                            </textarea>
    
                            <div class="d-none" id="page_header_hidden">
                                
                            </div>
                        </div>
                        <div class="mb-10 border">
                            <label class="form-label">Content</label>
                            <div id="toolbar_container_content"></div>
                            <textarea id="page_content" name="pageContent">
                                <%= page.pageContent %>
                            </textarea>
    
                            <div class="d-none" id="page_content_hidden">
                                
                            </div>
                        </div>

                        <div class="mb-10">
                            <input type="hidden" name="dataSrcCoverUrl" value="<%= page.coverUrl %>">
                            <div style="width: 300px; height: auto;">
                                <% if(page.coverUrl){ %>
                                    <img src="<%= page.coverUrl %>" alt="" style="width:100%;">
                                <% }else{ %>
                                    <img src="/webUI/image/no_image.png" alt="" style="width:100%;">
                                <% } %>
                            </div>
                            <label class="required form-label">Cover İmage</label>
                            <input type="file" name="coverUrlFile" accept=".jpg, .png, .jpeg, .webp" />
                        </div>
                      
                        <div class="form-check form-switch form-check-custom form-check-solid my-10">
                            <input class="form-check-input" type="checkbox" id="is_active" name="isActive" <%= page.isActive ? 'checked=checked' : '' %> />
                            <label class="form-check-label" for="is_active">
                                Aktif
                            </label>
                        </div>
                    
                        <div class="form-group row mt-5">
                            <div class="col-md-2">
                                <a href="/turlar" class="btn btn-block btn-dark" id="back_btn">GERİ</a>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary" id="save_btn">
                                    <span class="indicator-label">
                                        KAYDET
                                    </span>
                                    <span class="indicator-progress">
                                        Lütfen Bekleyin... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/global/plugins/jquery-form/jquery.form.js"></script>
    <script src="../assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/custom/tinymce/tinymce.bundle.js"></script>
    
<script>
    $(document).ready(function(){
        $('#day, #sequence, #persons').inputmask({
            mask: '9',
            repeat: 12,
            greedy: !1
        })
        $('#price').inputmask({
            'alias': 'decimal',
            rightAlign: false,
            showMaskOnHover: false,
            'autoGroup': false,
            'digits': 2,
            'digitsOptional': false,
            'placeholder': '0.00',
            autoGroup: true,
            allowMinus: false,
            radixPoint: '.'
        })

        $("#started_at, #finished_at").flatpickr();

        tinymce.init({
            selector: "#page_header",
            height:'480',
            plugins: "code",
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }
        })
        tinymce.init({
            selector: "#page_content",
            height:'480',
            plugins: "code",
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }
        })
    })

    $('#item_save_form').ajaxForm({
        beforeSubmit: function (arr) {
            
            if ($('#title').val() == "") {
                toastr.warning("Başlık giriniz");
                $('#title').focus();
                return false;
            }
            if ($('#url').val() == "") {
                toastr.warning("Url giriniz");
                $('#url').focus();
                return false;
            }

            $('#save_btn').attr("data-kt-indicator", "on")
            $('#save_btn').attr("disabled", "disabled")
        },
        beforeSend: function (e) {
          
        },
        complete: function (result) {
            console.log(result.responseJSON)

            if (result.responseJSON.isSuccess) {
                toastr.success(result.responseJSON.message);
            }
            else {
                toastr.error(result.responseJSON.message)
            }

            $('#save_btn').removeAttr('data-kt-indicator')
            $('#save_btn').removeAttr('disabled')
        },
    });

</script>